html,
body,
#root {
  height: 100%;
  margin: 0;
}

.dumi-default-header {
  display: none !important;
}

.dumi-default-doc-layout,
.dumi-default-doc-layout > main,
.dumi-default-content,
.dumi-default-content > article {
  min-height: 100vh;
  max-width: none !important;
  margin: 0 !important;
  padding: 0 !important;
}
